:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #141d2;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0.2rem 3rem var(--color-light);

}
/*========= Dark THEME VARIABLES=======*/ 
.dark-theme-variables{
    --color-background: #181a1e; 
    --color-white: #202528; 
    --color-dark: #edeffd; 
    --color-dark-variant: #a3bdcc; 
    --color-light:rgba(0,0,0,0.4); 
    --box-shadow: 0 2rem 3rem var(--color-light); 
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none; 
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;

}

body {
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x:hidden;
}
.container{
    display:grid; 
    width:96%; 
    margin: 0 auto; 
    gap:1.8rem; 
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    max-width: 100%;
    height:auto;

}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 { 
    font-size:1.5rem; 

}
h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
    
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: .75rem;
    
}

.profile-photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;

}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);

}

b {
    color: var(--color-dark);

}

.primary {
    color: var(--color-primary);
}
.logo{
    color:var(--color-background); 

}

.LOGO2 {
    color: #ff4b4b;
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.danger {
    color: var(--color-danger);
}
aside {
    height: 100vh;  
    


}
aside .top{
    display:flex; 
    align-items:center;
    background:white; 
    justify-content:space-between; 
    margin-top: 1.4rem; 

}
aside .logo{
    display:flex; 
    gap:0.8rem; 
    margin-bottom:1rem; 

}
aside .logo img{
    width: 2rem; 
    height: 2rem;
     

}
aside .close{
    display:none; 

}
aside .sidebar{
    background:white; 
    display: flex; 
    flex-direction: column; 
    height: 86vh; 
    position: relative; 
    top: 3rem; 

}
aside h3{
    font-weight: 500;

}
aside .sidebar a{
    display:flex; 
    color: var(--color-info-dark); 
    margin:2rem; 
    gap:1rem; 
    align-items:center; 
    position:relative; 
    height:3.7rem; 
    transition: all 300ms ease; 
}
aside .sidebar a span{
    font-size:1.6rem; 
    transition: all 300ms ease; 
    color:var(--color-info-dark);


}
aside .sidebar a:last-child{
    position:absolute; 
    bottom:2rem; 
    width:100%; 

}
aside .sidebar a.active{
    background: var(gray); 
    color:var(--color-primary); 
    margin-left:0; 
    
}
aside .sidebar a.active:before{
    margin-left:-1rem;
    content: ""; 
    width:6px; 
    height: 100%; 
    background:var(--color-primary);
}
aside .sidebar a.active span{
    color:var(--color-primary); 
    margin-left: calc(1rem - 6px);

}
aside .h2 a:hover{
    color:blue; 

}
aside .sidebar a:hover{
    color:blue;  
}
aside .sidebar a:hover span{
    color:blue;
    margin-left:1rem;
    transition: all 300ms ease;     
}

/* -------------- Main --------------- */
main {
    margin-top: 1.4rem; 

}

main .date{
    display:inline-block;
    background:var(--color-light); 
    border-radius: var(--border-radius-1);  
    margin-top: 1rem; 
    padding:0.5rem 1.6rem; 

}
main .date input[type="date"]{
    background: transparent; 
    color:var(--color-dark); 

} 
.DATA{
    display:grid; 
    grid-template-columns:repeat(3,1fr);
    gap:1.8rem;
    margin-bottom:2rem; 
    width:100%
}

main .DATA > div{
    background:var(--color-white); 
    padding:var(--card-padding);  
    border-radius:var(--card-border-radius); 
    margin-top:1rem; 
    box-shadow:var(--box-shadow); 
    transition: all 300ms ease; 


}
main .DATA > div:hover{
    box-shadow:none;

}
main .DATA > div span{
    background:var(--color-primary); 
    padding:0.5rem; 
    border-radius:50%;
    font-size:2rem;
}
main .DATA > div.customerFEEDBACK span{
    background-color:var(--color-primary);


}
main .DATA > div.SentimentScore span{
    background-color:var(--color-success); 


}
main .DATA > div.CustomerRetention span{
    background-color:var(--color-danger); 

}
main .DATA > div .middle{
    display:flex; 
    align-items: center; 
    justify-content:space-between; 

}
main .DATA h3{
    margin: 1rem 0 0.6rem; 
    font-size: 1rem; 
}
main .DATA .VD1,.VD2,.VD3{
    position:relative; 
    width:92px; 
    height:92px; 
    border-radius:50%; 


}
main .svg{
    width:7rem; 
    height:7rem; 
    align-items:right;

}
main .DATA svg{
    width:7rem;
    height:7rem; 
}
main .DATA svg circle{
    fill:none; 
    stroke:var(--color-primary); 
    stroke-width:14; 
    stroke-linecap: round; 
    transform:translate(5px,5px); 
    stroke-dasharray: 110; 
    stroke-dashoffset: 92; 
}
main .DATA .VD1 circle{
    stroke-dashoffset: -30; 
    stroke-dasharray: 200; 

}
main .DATA .VD2 circle{
    stroke-dashoffset:20; 
    stroke-dasharray:200; 


}
main .DATA .VD3 circle{
    stroke-dashoffset: 35; 
    stroke-dasharray:110; 
}
main .DATA .number p{
    position:absolute;  
    top: 0; 
    left: 0;  
    height:100%; 
    width:100%; 
    display:flex; 
    align-items:center; 
    justify-content:center; 
}
main .DATA .small{ 
    margin-top:1.6rem; 
    display: block; 


}
main .FEEdback{
    margin-top:2rem; 

}
main .FEEDBACK h2{
    margin-bottom:0.8rem; 

}
main .FEEDBACK table{ 
    background:var(--color-white); 
    width:100%; 
    border-radius:var(--card-border-radius); 
    padding:var(--card-padding); 
    text-align:center;
    box-shadow:var(--box-shadow);
    transition: all 300ms ease; 


}
main .FEEDBACK table:hover{
    box-shadow:none; 


}
 main .FlyerFeedback h2{
    margin-bottom:0.8rem; 

 }
 div.FlyerFeedback{
    width:267%;
 }
.FlyerFeedback table{ 
    background:var(--color-white); 
    width:100%; 
    border-radius:var(--card-border-radius); 
    margin-right:2.5rem; 
     
    
} 
main table tbody td{
    height:2.8rem; 
    border-bottom: 1px solid var(--color-light); 
    color:var(--color-dark-variant); 

}
main table tbody td last-child td{
    border:none; 
}
main .FlyerFeedback a{
    text-align:center; 
    display:block; 
    margin:1rem auto; 

}
main .FlyerFeedback a:hover{
    color: var(--color-primary); 
}
.right .profile{
    margin-left:auto;    


}
.right .top{
    display:flex; 
    justify-content:flex-end; 
    gap:2rem; 
    

}
.right .top button{ 
    display:none; 
    

}
.right .theme-toggler{
    background:var(--color-light); 
    display:inline-block;
    justify-content:space-between; 
    align-items:right; 
    height:1.6rem; 
    width:4.2rem; 
    cursor:pointer; 
}
.right .theme-toggler span{ 
    font-size: 1.2rem; 
    width:50%; 
    height:100%; 
    display:flex; 
    margin-right:200rem;
    justify-content: center;

}
 
.right .theme-toggler span:active{
    background:var(--color-primary); 
    color:white; 
    border-radius:var(--border-radius-1); 

}
.right .profile-photo{
    display:inline;  
    margin-left:15rem;

}
.right .message{
    display:inline-block; 
    margin-left:-1rem;
    text-align:text-wrap;    

}

.right .recent-updates{
    display:inline-block;
    width:250px; 
    margin-left:-1rem;
}
.right .info{
    margin-left:-13rem; 
}
.right .recent-updates .updates{
    background:var(--color-white); 
    overflow-x: text-wrap; 
    padding: 5%; 
    border-radius: 1rem; 
    box-shadow:var(--box-shadow); 
    transition: all 300ms ease; 

}
.right .recent-updates .updates:active{
    background:var(--color-white); 
    
}
.right .updates div.message{
    text-align:center; 

    

} 
/* ======= MEDIA QUERIES ========*/ 
@media screen and (max-width: 1200px){ 
    .container{
        width:95%;
        grid-template-columns:7rem auto 23rem;
    }
} 
aside .logo h2{ 
    display:none; 

}
aside .logo h3 { 
    display:none; 
}
aside .sidebar a{
    width:5.6rem; 

}
aside .sidebar a:last-child{
    position:relative; 
    margin-top:1.8rem; 

}
